body{
    text-align: center;
}
h1{
    margin-top: 40px;
    grid-column: 1 / span 2;
    text-align: center;
}
.caja{
    width: 300px;
    height: 40px;
    padding-left: 20px;
    font-size: 1rem;
    margin-bottom: 10px;
    border: 2px solid #cccccc;
}
.boton{
    width: 325px;
    height: 40px;
    background-color: #0c3450;
    color: white;
}
.central{
    display: flex;
    width: 735px;
    height: 598px;
    margin: 0 auto;
    margin-top: 5px;
}
.img{
    width: 100%;
    height: 100%;
    background-image: url(cajerouwu.png);
}
.clave{
    display: grid;
    width: 445px;
    height: 336px;
    margin-left: 64px;
    margin-top: 57px;
    grid-template-columns: auto auto;
    grid-template-rows: 100px 100px 100px;
}
.ret{
    width: 200px;
    height: 50px;
    margin-left: 8px;
    margin-top: 15px;
    border-radius: 5px;
}
.dep{
    width: 200px;
    height: 50px;
    margin-top: 15px;
    border-radius: 5px;
}
.salir1{
    width: 200px;
    height: 50px;
    margin-left: 8px;
    margin-top: 2px;
}
.salir2{
    width: 200px;
    height: 50px;
    background-color: red;
    margin-left: 8px;
    border-radius: 5px;
    margin-top: 2px;
}
.cons{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin-top: 2px;
}